
<!DOCTYPE html>
<html>

<head>
	<style>
		table, th, td {
		    border: 1px solid black;
		    border-collapse: collapse;
		}
	</style>
</head>
<body>
	
	<table style="width:100%">
	<tr>
	    <td>Student ID</td>
	    <td>College ID</td>
	    <td>Department</td>
	    <td>Year</td>
  	</tr>
  	<% @students.each do |s| %>
	<tr>
		<td> <%= s[:student_id] %></td>
		<td> <%= s[:college_id] %></td> 
		<td> <%= s[:dept] %></td>
		<td> <%= s[:year] %></td>  
	</tr>
	<% end %>
	</table>
	<p><%= link_to "Back to Colleges", { action: "index" } %></p>

</body>
</html>